# ITMGT 25.03 EE
# Assignment 3A

This is a data-cleaning assignment and is the first of two parts. The second part (3B) will be given Monday or Tuesday next week. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.


The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called cleanrecweekdata.csv **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats.html**. The requirements for the summary statistics are described below. **(10 points)**

This entire assignment (3A) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Tuesday, July 9, 2019** at 12:00NN.

In [35]:
import csv
import re

In [36]:
#firstname
reader = csv.reader(open('recweekdata.csv','r'))

first_name_list = []
for row in reader:
    first_name_list.append(row[0])

In [37]:
#lastname
reader = csv.reader(open('recweekdata.csv','r'))

last_name_list = []
for row in reader:
    last_name_list.append(row[1])

In [38]:
#birthmonth
reader = csv.reader(open('recweekdata.csv','r'))

dirty_month_list = []
for row in reader:
    dirty_month_list.append(row[2])
    clean_month_list = [re.sub(r'(January|1|Jan)',r'January',month) for month in dirty_month_list]
    clean_month_list = [re.sub(r'(February|2|Feb)',r'February',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(March|3|Mar)',r'March',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(April|4|Apr)',r'April',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(May|5|May)',r'May',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(June|6|Jun)',r'June',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(July|7|Jul)',r'July',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(August|8|Aug)',r'August',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(September|9|Sep)',r'September',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(October|10|Oct|January0)',r'October',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(November|11|Nov|JanuaryJanuary)',r'November',month) for month in clean_month_list]
    clean_month_list = [re.sub(r'(December|12|Dec|JanuaryFebruary)',r'December',month) for month in clean_month_list]

In [39]:
#birthday
reader = csv.reader(open('recweekdata.csv','r'))

day_list = []
for row in reader:
    day_list.append(row[3])

In [40]:
#birthyear
reader = csv.reader(open('recweekdata.csv','r'))

dirty_year_list = []
for row in reader:
    dirty_year_list.append(row[4])
    clean_year_list = [re.sub(r'^97',r'1997',year) for year in dirty_year_list]
    clean_year_list = [re.sub(r'^98',r'1998',year) for year in clean_year_list]
    clean_year_list = [re.sub(r'^99',r'1999',year) for year in clean_year_list]
    clean_year_list = [re.sub(r'^00',r'2000',year) for year in clean_year_list]
    clean_year_list = [re.sub(r'^01',r'2001',year) for year in clean_year_list]

In [42]:
#course: does not clean BS Management properly
reader = csv.reader(open('recweekdata.csv','r'))

dirty_course_list = []
for row in reader:
    dirty_course_list.append(row[5])
    raw_clean_course_list = [re.sub(r'(BS LM|Legal Management|LM)',r'BS Legal Management',course) for course in dirty_course_list]
    raw_clean_course_list = [re.sub(r'(BS ME|Management Engineering|ME)',r'BS Management Engineering',course) for course in raw_clean_course_list]
    raw_clean_course_list = [re.sub(r'(BS ITE|Information Technology Entrepreneurship|ITE)',r'BS IT Entrepreneurship',course) for course in raw_clean_course_list]
    raw_clean_course_list = [re.sub(r'(BS CTM|Communications Technology|CTM)',r'BS Communications Technology',course) for course in raw_clean_course_list]

In [43]:
# course: cleaning BS Management (manual intervention)
unique_course = set(raw_clean_course_list)
unique_course_dictionary = {course: None for course in unique_course}

for i in unique_course_dictionary:
    final_course = input(i+": "+"Enter course: ")
    unique_course_dictionary[i]=final_course

BS Legal Management: Enter course: BS Legal Management
BS IT Entrepreneurship: Enter course: BS IT Entrepreneurship
MGT: Enter course: BS Management
BS Communications Technology: Enter course: BS Communications Technology
BS Management Engineering: Enter course: BS Management Engineering
Management: Enter course: BS Management
course: Enter course: course
BS MGT: Enter course: BS Manangement

In [44]:
#course: final clean course list
clean_course_list = [re.sub(r''.join(course),r''.join(unique_course_dictionary[course]),course) for course in raw_clean_course_list]

In [45]:
#phonenumber
reader = csv.reader(open('recweekdata.csv','r'))

dirty_number_list = []
for row in reader:
    dirty_number_list.append(row[6])
    clean_number_list = [re.sub(r'\+63',r'',number) for number in dirty_number_list]
    clean_number_list = [re.sub(r'9',r'+63 9',number,1) for number in clean_number_list]

In [46]:
#converting to CSV file
import csv

with open('cleanrecweekdata.csv','w+', newline = "") as clean_data:
    csv_writer = csv.writer(clean_data)
    
    for i in range(len(first_name_list)):
        csv_writer.writerow([first_name_list[i],last_name_list[i],clean_month_list[i],day_list[i],clean_year_list[i],clean_course_list[i],clean_number_list[i]])

# Required Summary Statistics
1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

Answer these questions in an html file called stats.html. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [30]:
stats_html = """
<html>
    <style type='text/css'>
        h1 { 
            font-family: 'Verdana', sans-serif;
            font-weight: 700; 
            color: #024176;
            background-color: #E7F9FF;
            }
        h2 { 
            font-family: 'Verdana', sans-serif;
            font-weight: 700;
            color: #024176;
            background-color: #E7F9FF;
            }
        table { 
               background-color: #E7F9FF;
              }                    
        th { 
            font-family: 'Verdana', sans-serif;
            font-weight: bold;
            padding: 5px
            }            
        td { 
            font-family: 'Verdana', sans-serif;
            text-align: center;
            padding: 3px;
            }
    </style>
    <center>
    <h1>RECWEEK STATISTICS</h2>
    <h2>NUMBER OF CELEBRANTS</h2>
    <table>
        <tr>
            <th>MONTH</th>
            <th>CELEBRANTS</th>
            <th>DAY</th>
            <th>CELEBRANTS</th>
            <th>DAY</th>
            <th>CELEBRANTS</th>
            <th>YEAR</th>
            <th>CELEBRANTS</th>
        </tr>
        <tr>
            <td>January</td>
            <td>270</td> 
            <td>1</td>
            <td>112</td>
            <td>15</td>
            <td>121</td>
            <td>1997</td>
            <td>756</td>
        </tr>
        <tr>
            <td>February</td>
            <td>232</td> 
            <td>2</td>
            <td>106</td>
            <td>16</td>
            <td>115</td>
            <td>1998</td>
            <td>746</td>
        </tr>
        <tr>
            <td>March</td>
            <td>246</td>
            <td>3</td>
            <td>90</td>
            <td>17</td>
            <td>116</td>
            <td>1999</td>
            <td>756</td>
        </tr>
        <tr>
            <td>April</td>
            <td>267</td>
            <td>4</td>
            <td>110</td>
            <td>18</td>
            <td>107</td>
            <td>2000</td>
            <td>380</td>
        </tr>
        <tr>
            <td>May</td>
            <td>273</td>
            <td>5</td>
            <td>100</td>
            <td>19</td>
            <td>113</td>
            <td>2001</td>
            <td>362</td>
        </tr>
        <tr>
            <td>June</td>
            <td>259</td>
            <td>6</td>
            <td>99</td>
            <td>20</td>
            <td>91</td>
        </tr>
        <tr>
            <td>July</td>
            <td>249</td>
            <td>7</td>
            <td>88</td>
            <td>21</td>
            <td>123</td>
        </tr>
        <tr>
            <td>August</td>
            <td>241</td>
            <td>8</td>
            <td>111</td>
            <td>22</td>
            <td>103</td>
        </tr>
        <tr>
            <td>September</td>
            <td>232</td>
            <td>9</td>
            <td>98</td>
            <td>23</td>
            <td>116</td>
        </tr>
        <tr>
            <td>October</td>
            <td>178</td>
            <td>10</td>
            <td>111</td>
            <td>24</td>
            <td>108</td>
        </tr>
        <tr>
            <td>November</td>
            <td>277</td>
            <td>11</td>
            <td>105</td>
            <td>25</td>
            <td>116</td>
        </tr>
        <tr>
            <td>December</td>
            <td>276</td>
            <td>12</td>
            <td>98</td>
            <td>26</td>
            <td>116</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>13</td>
            <td>119</td>
            <td>27</td>
            <td>102</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>14</td>
            <td>101</td>
            <td>28</td>
            <td>101</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>29-31</td>
            <td>0</td>
        </tr>
    </table>
    <h2>STUDENTS PER COURSE</h2>
    <table>
        <tr>
            <th>COURSE</th>
            <th>STUDENTS</th>
        </tr>
        <tr>
            <td>BS Management</td>
            <td>629</td>
        </tr>
        <tr>
            <td>BS Legal Management</td>
            <td>585</td>
        </tr>
        <tr>
            <td>BS Management Engineering</td>
            <td>607</td>
        </tr>
        <tr>
            <td>BS IT Entrepreneurship</td>
            <td>590</td>
        </tr>
        <tr>
            <td>BS Communications Technology</td>
            <td>589</td>
        </tr>        
    </table>
    <h2>USERS PER CARRIER</h2>
    <table>
        <tr>
            <th>CARRIER</th>
            <th>USERS</th>
        </tr>
        <tr>
            <td>Globe</td>
            <td>2045</td>
        </tr>
            <td>Smart</td>
            <td>955</td>
        </tr>
    </table>
    </center>
</html>
"""

with open('stats.html',"w+") as file:
    file.write(stats_html)